@{
    ViewData["Title"] = "Bilgilerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <form>
        <div class="col-12">
            <div style="background-color:honeydew" class="card">
                <div class="card-body">
                    <h3 class="card-title">BİLGİLERİM</h3>
                    <form class="form-sample">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Adı</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">2. Adı</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Soyadı</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Telefonu</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Mail Adresi</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Doğum Tarihi</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="date" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">TC No</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Cinsiyeti</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" disabled>
                                            <option>Erkek</option>
                                            <option>Kadın</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">İşe Giriş Tarihi</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="date" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">İşten Çıkış Tarihi</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="date" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Adresi</label>
                                    <div class="col-sm-12">
                                        <textarea style="margin-bottom:20px" id="adres1" name="#" rows="4" class="form-control" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </form>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
</body>

