@using HR.Project.Own.EntityLayer.Concrete
@model Permission

@{
    ViewData["Title"] = "Permission Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <form asp-controller="Permission" asp-action="PermissionRequest" method="post" novalidate="novalidate"> 
        <div class="col-9 mx-auto">
            <div style="background-color:honeydew" class="card">
                <div class="card-body">
                    <h2 class="card-title">İZİN TALEP ET</h2>
                    <br />
                    <div class="row">
                        <div class="form-group row">
                            <label asp-for="PermissionType" class="col-sm-3 col-form-label">İzin Türü</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Harcama Miktarı</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Para Birimi</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Açıklama</label>
                            <div class="col-sm-9">
                                <textarea style="margin-bottom:20px" id="aciklama" name="#" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <button style="margin-bottom:60px" type="submit" class="btn btn-gradient-info btn-block">Kaydet</button>
                    <br />
                </div>
            </div>
        </div>
    </form>

    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>   
    <script src="~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/writer/assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
</body>

